
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eknmShop-primary: mat.define-palette(mat.$indigo-palette);
$eknmShop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$eknmShop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eknmShop-theme: mat.define-light-theme((
  color: (
    primary: $eknmShop-primary,
    accent: $eknmShop-accent,
    warn: $eknmShop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($eknmShop-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/general.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$my-custom-typography: mat.define-typography-config(
  $headline:  mat.define-typography-level(2.5rem, 1, 500, cursive),
  $body-1: mat.define-typography-level(1rem, 1, 400, cursive),
  $title: mat.define-typography-level(2rem, 1, 500, cursive),
  $subheading-2: mat.define-typography-level(1.75rem, 1, 500, cursive),
  $subheading-1: mat.define-typography-level(1.5rem, 1, 500, cursive),
);
@include mat.core($my-custom-typography);
